PORT=3000
AWS_REGION=ap-southeast-1
CORS_ORIGIN=*

# RDS PostgreSQL
DB_HOST=your-rds-endpoint.ap-southeast-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=ruangwarga
DB_USER=postgres
DB_PASSWORD=change-this-password
DB_SSL=false

# S3 bucket untuk file upload warga
S3_UPLOAD_BUCKET=ruangwarga-uploads-yourname
